
section
  h2 Détails
  section
    h1 Examens
    table#stats-table.col-m-12.col-12
      thead
        tr
          th Date
          th Subject
          th Note
      tbody
        tr
          td 15/07/2016
          td HTML
          td 100%
        tr
          td 12/05/2016
          td JavaScript
          td 100%
        tr
          td 06/03/2015
          td CSS
          td 88%
        tr
          td 23/09/2015
          td HTML
          td 78%
        tr
          td 31/07/2015
          td JavaScript
          td 98%
        tr
          td 06/12/2014
          td CSS
          td 67%
        tr
          td 23/09/2014
          td HTML
          td 74%
        tr
          td 31/07/2014
          td HTML
          td 62%
        tr
          td 06/12/2013
          td HTML
          td 31%
        tr
          td 05/12/2013
          td HTML
          td 31%
        tr
          td 03/12/2013
          td HTML
          td 24%
        tr
          td 01/12/2013
          td HTML
          td 12%