extend layout
block content
  main
    article
      h1.page-header Accueil
      div#Description-panel
        img(src='/images/polytechnique.png')
        h2 Description
        p
          | Nunc iaculis imperdiet mi, id mattis quam elementum ut. Praesent ullamcorper laoreet zvulputate. Maecenas egestas mi id sapien pulvinar elementum. Nunc eros nisi, vulputate id elementum eget, eleifend ultricies massa. Integer molestie porttitor
          | hendrerit. Etiam posuere enim nisl. Nunc semper imperdiet velit vestibulum eleifend.
