
section.sub-container
  h2.sub-container-title Statistiques
  section
    h3 Tests Rapides
    p
      span Nombre de tests rapides réussis :
      span  10
    p
     span Nombre de tests rapides éffectués :
     span  20
    p
     span Ratio :
     span  50%
    p
    span Moyenne :
    span  86%
  section
    h3 Examens
    table#stats-table.col-m-12.col-12
      thead
        tr
          th Date
          th Type
          th Subject
          th Note
      tbody
        tr
          td 15/07/2016
          td Examen
          td HTML
          td 100%
        tr
          td 12/05/2016
          td Examen
          td JavaScript
          td 100%
        tr
          td 06/03/2015
          td Examen
          td CSS
          td 88%