extend layout
block content
  main
    section
      h1.page-header Instructions
      div#instruction-panel
        img(src='/images/poly_logo.png').imageFlottante
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac dictum odio. Aliquam sed lorem elit. Nam facilisis mauris id convallis vehicula. Nunc consectetur tellus ut magna aliquet elementum. Maecenas ut blandit urna. Nullam a pulvinar orci. In tristique blandit risus. Donec lobortis nisi a gravida efficitur. Mauris consequat orci massa, posuere facilisis dui cursus nec. Maecenas eget quam gravida, congue libero volutpat, efficitur turpis. Vestibulum egestas, dui non malesuada malesuada, dui neque sollicitudin leo, accumsan luctus tortor justo sed ex. Sed nec egestas augue, a auctor diam. Aliquam venenatis tellus in elit consectetur semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo ligula, feugiat sit amet placerat in, tincidunt vel nibh. Cras bibendum mauris a elit luctus, nec fermentum massa posuere. Fusce nec lacus ante. Aliquam at orci pretium, ullamcorper est ac, euismod risus. Nulla sagittis massa quam, ut malesuada lacus scelerisque non. Ut non luctus urna, ac pretium nisl. Nam id accumsan orci, ut consectetur eros. Nunc rhoncus justo nulla, ut volutpat ante aliquet non. Quisque tincidunt maximus sapien, sit amet vestibulum ipsum pellentesque in. Maecenas euismod tellus eu odio commodo, at viverra dolor iaculis. Fusce a dui non justo porttitor pellentesque. Praesent et tristique neque. Vestibulum ac mattis leo, vitae rutrum ligula.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis posuere mauris, nec semper nisi vestibulum et. Duis sit amet leo sem. Vestibulum fermentum suscipit imperdiet. Curabitur tincidunt pretium nunc, vestibulum efficitur leo dapibus et. Maecenas facilisis erat et dolor ornare, eu ullamcorper ligula blandit. Morbi sodales maximus diam nec vestibulum. Integer pulvinar urna tortor, quis ultricies turpis ultricies sit amet. In rutrum quis leo non auctor. Vivamus sollicitudin efficitur scelerisque. Suspendisse magna metus, condimentum nec elit ac, feugiat volutpat magna. Quisque finibus nibh ligula, sit amet lacinia erat finibus quis. Donec vitae hendrerit risus. Phasellus et imperdiet sapien, id sagittis tellus. Sed id arcu at velit vulputate sollicitudin in et ex. Pellentesque eget lacus felis. In lobortis augue vel ligula vehicula faucibus. Mauris nec.ligula.
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. In venenatis posuere mauris, nec semper nisi vestibulum et. Duis sit amet leo sem. Vestibulum fermentum suscipit imperdiet. Curabitur tincidunt pretium nunc, vestibulum efficitur leo dapibus et. Maecenas facilisis erat et dolor ornare, eu ullamcorper ligula blandit. Morbi sodales maximus diam nec vestibulum. Integer pulvinar urna tortor, quis ultricies turpis ultricies sit amet. In rutrum quis leo non auctor. Vivamus sollicitudin efficitur scelerisque. Suspendisse magna metus, condimentum nec elit ac, feugiat volutpat magna. Quisque finibus nibh ligula, sit amet lacinia erat finibus quis. Donec vitae hendrerit risus. Phasellus et imperdiet sapien, id sagittis tellus. Sed id arcu at velit vulputate sollicitudin in et ex. Pellentesque eget lacus felis. In lobortis augue vel ligula vehicula faucibus. Mauris nec.

        ol
          li Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          li Integer ullamcorper massa ut nulla ultricies, et imperdiet urna bibendum.
          li Aliquam eu metus vitae mi consectetur dictum vel in ipsum.
          li Phasellus sit amet orci eu leo convallis varius non vitae felis.
          li Nam ut est vel urna pharetra ullamcorper.