extend layout
block content
  main
    section
      h1.page-header Resultats
      div
        button.default-button(type='button', onclick="location.href = '/tableauDeBord';") Tableau de bord
      p Note finale: 2/2 (100%)
